:root{
     --light-cyan:hsl(193, 38%, 86%);
     --neon-green:hsl(150, 100%, 66%);
     --grayish-blue: hsl(217, 19%, 38%);
     --dark-grayish-Blue: hsl(217, 19%, 24%);
     --dark-blue: hsl(218, 23%, 16%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:Before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Manrope', sans-serif;
    background: var(--dark-blue);
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.card{
    background: var(--dark-grayish-Blue);
    border-radius: 1rem;
    text-align: center;
    max-width: 430px;
    box-shadow: 2px 2px 4px var(--grayish-blue);
    width: 80%;

    &-title{
        color: var(--neon-green);
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 3rem;
    }

    &-text{
        font-size: 2.2rem;
        color: var(--light-cyan);
        font-weight: 600;
        width: 85%;
        margin: 0 auto;
        margin-top: 3rem;
        line-height: 3rem;
    }
    &-img{
        width: 85%;
        margin-top: 3rem;
    }

    &-footer{
        margin-top: 3rem;
    
        &-container{
            background: var(--neon-green);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: -25px;
            cursor: pointer;

            &-img{
                margin-top: 15.5px;
                width: 20px;
            }
          
        }
        &-container:hover{
            box-shadow: 0 0 30px 0 hsl(150, 100%, 66%);
        }
       
    }
}
// .card-footer-container:hover{
//     box-shadow: 0 0 30px 0 hsl(150, 100%, 66%);

// }